 # --------------------------------------------------------
 # Seed-PHP Microframework.
 # @author Rogerio Taques (rogerio.taques@gmail.com)
 # @version 0.7.0
 # @license MIT
 # @see http://github.com/abtzco/seed-php
 # -------------------------------------------------------- 

<IfModule mod_rewrite.c>
    RewriteEngine On
    #RewriteBase /

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>
