 # --------------------------------------------------------
 # PHP API KIT
 # @author Rogerio Taques (rogerio.taques@gmail.com)
 # @version 0.1
 # @license MIT
 # @see http://github.com/rogeriotaques/php-api-kit
 # --------------------------------------------------------

<IfModule mod_rewrite.c>
    RewriteEngine On
    #RewriteBase /

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php?uri=$1&%{QUERY_STRING} [L]
</IfModule>

# -----------------------------------------------------------------------
# After deploy it to production, replace 'development' for 'production'.
# -----------------------------------------------------------------------
SetEnv ENV development
